#header-container {
  min-height: 64px; 
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background:#f1f1f1;
  color: #1E1E26;
  padding-top: 0; 
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: #f1f1f1;
  border-bottom: 1px solid #eee;
  z-index: 1000;
}

.header-inner {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  gap: 14px;
}

.velvet-logo {
  height: 40px !Important;
  margin-right: auto;
}

.header-inner img {
  height: 30px;
}

.page-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 16px 80px;
} 